.container {
    background-color: var(--azul-escuro);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    height: 50%;
    width: 70%;
    
}

.card__info {
    background-color: var(--des-azul-escuro);
    color: var(--branco);

    width: 50%;
    padding: 10px;

    padding: 2.5rem;
}

.card__titulo {
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 1.8rem;
}

#rx {
    color: var(--violeta-soft);
}

.card__texto {
    font-family: var(--font-lexend);
    font-size: 0.9rem;
    margin-right: 3rem;
    margin-top: 1rem;
}

.card__num {
    display: flex;
    justify-content: space-between;
    margin-right: 3.8rem;
}

.card__item {
    list-style-type: none;
    margin-top: 1rem;
}

.num__num {
    font-family: var(--font-inter);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.num__texto {
    font-family: var(--font-inter);
    font-weight: lighter;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: 0.5rem;
    
}

.card__imagem {
    width: 50%;
    border-radius: 0px 10px 10px 0px;
}


@media screen and (max-width: 425px){
    .container {
        height: auto;
    }
    
    .card {
        flex-direction: column;
        width: 80%;
        margin: 5rem auto;
        
    }

    .card__info {
        width: 100%;
        box-sizing: border-box;
    }

    .card__titulo {
        font-size: 1.4rem;
    }

    .card__texto {
        font-size: 0.9rem;
        margin: 3rem auto;
        text-align: center;
    }

    .card__imagem {
        order: -1;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .card__num {
        flex-direction: column;
        text-align: center;
        margin-right: 0;
    }
}

@media screen and (max-width: 425px) {
    
}